<<<<<<< HEAD
:root {
    --color1: #D89584;
    --color2: #001f3f;
    --color3: #3a6d8c;
    --color4: #6a9ab0;
    --color5: #fff;
    --color6: #ead8b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    font-family: sans-serif;
    color: white;
    background-color: var(--color5); 
    
}




header {
    background: url(RESOURCES/cover.jpg) no-repeat center/cover;
    padding-top: 70px;
    padding-bottom: 70px;
}

.entete {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: var(--color2);
    box-shadow: 1px 1px 4px black;
}

.entete .logo {
    font-family: poppins;
    font-weight: 900;
    font-size: 20px;
    color: var(--color6);
}

.entete .menu ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    
}

.entete .menu ul a {
    text-decoration: none;
    color: var(--color5);
}


.entete .cv a {
    text-decoration: none;
    color: var(--color5);
    padding: 8px 15px;
    border-radius: 8px;
    color: var(--color5);
    border: 2px solid var(--color4);
    
}

.profil {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profil .name {
    text-align: center;
}

.profil .name h1 {
    font-size: 38px;
    color: var(--color5);
}

.profil .name p {
    color: var(--color6);
    font-size: 14px;
}

.profil img {
    height: 250px;
}

a.contact{
    margin-top: 30px;
    color: var(--color5);
    border: 2px solid var(--color4);
    border-radius: 10px;
    padding: 5px 20px;
    
    display: inline-block;
    font-size: 17px;   
    transition: 0.4s;
    text-decoration: none; 
}

a.contact:hover, .entete .cv a:hover {
    color: black;
    border: 2px solid var(--color4);
    background-color: var(--color6);
}

.savoirPlus h2 {
    font-family: poppins;
}

.savoirPlus {
    padding: 0 50px;
    color: black;
    font-family: sans-serif;
}

.title-section {
    color: var(--color2);
    font-family: poppins;
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.line {
    height: 0.1rem;
    width: 150px;
    margin-top: 8px;
    background-color: black;  
}

.imgTxt {
    display: flex;
    gap: 16px;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imgTxt .itm {
    flex: 1 1 200px;
}

.savoirImg {
    width: 40%;
    flex: 1 1 500px;
    object-fit: cover;
}

.imgTxt p {
    text-align: justify;
}

.lienabout {
    display: flex; 
    margin-top: 10px;
    align-items: center;
    gap: 8px;
}

.btnprofil {
    color: #535252;
    font-size: 17px; 
    text-decoration: none;
}

.btnprofil:hover {
    color: #000000;
}

.services {
    display: flex;
    gap: 50px 10px;
    justify-content: center;
    align-items: center;
    margin: 60px 20px 0 20px;
    padding: 0 30px;
    flex-wrap: wrap;
}

.item {
    height: 250px;
    width: 250px;
    background-color: var(--color4);
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 250px;
    
}


.item img {
    margin-top: -50px;
    height: 90px;
}

.item h3 {
    font-family: poppins;
    color: var(--color2);
    margin-top: 25px;
}

.item p {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    color: #000;
    font-family: sans-serif;
}

.tech img {
    height: 30px;
    text-align: left;
    justify-content: flex-start;
    transition: filter 0.3s ease;
    filter: grayscale(100%);
}

.tech img:hover {
    filter: grayscale(0);
}

.serv {
    color: black;
    padding: 10px 50px;
    text-align: justify;
}

.pourquoi {
  
    width: 100%;
    padding: 0 0 30px 0;
    background-color: var(--color2);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.pourquoiMoi {
    display: flex;
    flex-wrap: wrap;

    gap: 40px;
    padding: 30px;
    
}

.pItem {
    display: flex;
    flex-direction: column;
    flex: 1 1 280px;
    gap: 10px 50px;
    align-items: center;
    
}

.pItem img {

    height: 50px;
}

.pItem h3 {
    color: var(--color5);
    font-size: 18px;
}

.pItem p {
    text-align: center;
    font-size: 16px;
}

.projets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.itemprojet {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.itemprojet img {
   height: 200px;
}

/* footer */
iframe {
    width: 100%;
    border: none;
    height: 307px;
    margin-top: 30px;
    vertical-align: bottom;
}

/* Partie projets recents */
/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
box-sizing: border-box;
}

/*html {
background-color: #ecf9ff;
}

body {

font-family: 'Quicksand', serif;
font-style: normal;
font-weight: 400;
letter-spacing: 0;

}*/

.main{
    max-width: 1200px;
    margin: 0 auto;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}


@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #6a9ab0 10%, #3a6d8c 100%);
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}

/* message */

.btn {
    margin: 10px 0;
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
.modal {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px; /* Largeur maximale de la modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative; /* Pour positionner la croix */
    
}

.modal-content h2 {
    margin-bottom: 10px;
    font-size: 23px;
    color: var(--color2);
} 

.modal-content img {
    margin-bottom: 10px;
}

.img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.modal-content p {
    color: black;
    text-align: justify;
    margin-bottom: 10px;
}



.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 300;
    color: #dc3545; /* Couleur de la croix */
    cursor: pointer;
    margin-left: 15px;
}

.fermer {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545;
    font-size: 16px;
}

.visite {
    text-decoration: none;
    color: var(--color3);
    
}

.button {
    display: none;
}


@media only screen and (max-width: 768px) {
    
    .img img {
        height: 100%;
        object-fit: cover;
    }
    
    .modal-content h2 {
        margin-bottom: 5px;
        font-size: 18px;
        
    } 
    
    .modal-content img {
        margin-bottom: 5px;
        
    }
    
    .modal-content p {
        margin-bottom: 5px;
        font-size: 14px;
    }
    
    .entete {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }


    .entete .menu ul li a {

        color: var(--color5);
    }

    .savoirPlus {
        padding: 0 20px;
        
    }

    .services {
        padding: 0;
    }

    .serv {
        padding: 10px 20px;
    }

    iframe {
        
        height: 675px;
    }
}


.element {
    opacity: 0; /* Initialement caché */
    transition: opacity 0.4s ease 0.2s, transform 0.4s ease 0.2s;
    /*transform: scale(0.5)  Transition douce */
    
}



.from-left {
    transform: translateX(-20px); /* Décalage vers la gauche */
}
.from-right {
    transform: translateX(20px); /* Décalage vers la droite */
}

.from-bottom {
    transform: translateY(20px); /* Décalage vers le bas */
}

.visible {
    opacity: 1; /* Rend visible */
    /*transform: scale(1);  Remet à sa position d'origine */
    transform: translateY(0) translateX(0); /* Remet à sa position d'origine */
}

@media only screen and (max-width: 655px) {

    .entete {
        z-index: 100;
        top: 0;
        position: sticky;
        padding: 5px 15px;
        justify-content: space-between;
    }

    /*.entete .menu {
        order: 3;
    }*/


    .entete .menu ul{
        flex-direction: column;
        position: absolute;
        background-color: #00000070;
        top: 0;
        gap: 20px;
        left: -1500px;
        width: 100%;
        height: 94vh;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(40px);
        transition: 0.5s;
        
}
.entete ul li a, .cv {
    text-transform: uppercase;
}

.cv {
    position: absolute;
    top: 7.7rem;
    left: -1500px;
    width: 100%;
    height: 130vh;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    padding: 0px 0 5px 0;

}

.entete .cv a {
    border: none;
}

.entete .button {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
} 

.entete .button::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: white;
    box-shadow: 0 10px 0 white;
    transform: translatey(-10px);
    transition: 0.5s;
}

.entete .button.active::after {
    box-shadow: 0 0px 0 white;
    transform: rotate(45deg);
}

.entete .button::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: white;
    transform: translatey(10px);
    transition: 0.5s;
}

.entete .button.active::before {
    transform: rotate(-45deg);
}

.entete .menu ul.active, .cv.active {
    left: 0;
}

}
=======
* {
    box-sizing: border-box;
}

:root {
    --color1: #D89584;
    --color2: #F4F4F4;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

iframe {
    width: 100%;
    border: none;
    height: 350px;
}

div.cover {
    background: url(RESOURCES/cover_overlay.png) no-repeat center/100% 100%,url(RESOURCES/cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}

img.cover_profile {
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0;
}

div.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

div.cover_contact {
    /*background-color: #FF000080;*/
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover_contact p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

div.cover_contact p:first-child {
    margin-bottom: 14px;
}

div.cover_contact * {
    color: white;
    font-size: 14px;

}

a.contact_button {
    color: var(--color1);
    border: 3px solid var(--color1);
    border-radius: 30px;
    padding: 8px 20px;
    background-color: #00000040;
    text-decoration: none; 
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;   
}

a.contact_button_portefolio {
    position: absolute; 
    right:20px; 
    top: 5px
}

a.contact_button:hover {
    color: #FFFFFF;
    border: 3px solid white;
}

/* Partie 2 */

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section_grise1 {
    background: url(RESOURCES/triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);   
    padding-bottom: 70px;
}

div.section_grise2 {
    background: url(RESOURCES/triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);   
    padding-top: 80px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.section_grise1 p {
    text-align: center;
    color: #656565;
    font-size: 22px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    
}


div.separateur {
    height: 1px; 
    width:150px;  
    background-color: #979797;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

img.col-contenu {
    width: 40%;
}

div.col-contenu {
    width: 60%;
    padding-left: 16px;
}

.float_right {
    float: right;
}

div.texte_avec_ligne_verticale {
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.texte_avec_ligne_verticale p {
    margin-top: 0;
}

div.barre_verticale {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

.col_portefolio {
    width: 47%; 
}

div.frame {
    margin: 30px 50px;
    padding: 20px 30px;
    border: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}

p.frame_title {
    font-size: 30px; 
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.img-frame {
    height: 100px;
}

/* Les deuxièmes pages du site */

.portefolie-header {
    height: 90px;
    background: url(RESOURCES/header.jpg) no-repeat center/cover;
    position: relative;
}


.portefolio-header-title {
    color: white; 
    font-weight:bold; 
    font-size: 26px;
    padding-top: 4px;
    padding-left: 8px;
}

h1.portefolio {
    font-size: 46px;
    color: black;
    line-height: 1;
    padding-top: 10px;
}

h2.portefolio {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0;
}

a.portefolio-back {
    color: var(--color1);
    margin-left: -10px;
}


.portefolio-img-contenu {
    width: 70%;  
    max-width:447px;   
}

.display-mobile {
    display: none;
}

/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {
    img.cover_profile {
        height: 90px;
        margin-top: 75px;
    }
    
    h1 {
        font-size: 30px;
        margin-top: 6px;
        margin-bottom: 0;
    }
    
    div.cover p {
        margin-top: 2px;
        font-size: 15px;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    div.section_grise1 { 
        padding-bottom: 40px;
    
    }

    h2 {
        font-size: 30px;
    }

    img.col-contenu {
        width: 100%;
    }
    
    div.col-contenu {
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }

    .float_right {
        float: none;
    }

    .col_portefolio {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }

    div.frame {
        margin: 0px;
        padding: 0px;
        box-shadow: none;
    }

    .img-frame {
        height: 70px;
    }

    /* PORTEFOLIO MOBILLE */
    .portefolio-header-title {
        font-size: 19px;
        padding-top: 10px;
        padding-left: 4px;
    }

    a.contact_button {
        padding: 7px 12px;
        margin-top: 22px;
        font-size: 12px;   
    }

    a.contact_button_portefolio {
        right:8px; 
    }

    h1.portefolio {
        font-size: 40px;
    }
    
    h2.portefolio {
        font-size: 22px;
    }

    .portefolio-img-contenu {
        width: 100%;  
  
    }

    .display-mobile {
        display: block;
    }
    

}

>>>>>>> 5b32eb6 (Add files via upload)
